html, body {
  margin: 0;
  padding: 0;
  background: #333;
}
h1 {
	font-size: 24px;
	color: #fff;
	text-align: center;
}
#layout table {
  border: 1px solid #000;
  margin: 0 auto;
}

#layout table tr {
  height: 40px;
}

#layout table tr td {
  width: 40px;
  border: 1px dotted #888;
}
